/* @import "https://fonts.googleapis.com/css?family=Open+Sans"; */
/* body {
  background-color: #494A5F;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
} */

.center {
  position: absolute;
  margin: 8px 0 0 330px !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.list-nav{
	 margin:60px 0 200px 30px;
}

.list-nav-yxts{
	 margin:120px 0 200px 130px;
}


.menu01 {
  width: 40px;
  height: 40px;
}


.menuItem{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-color: #00ffea;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.menuItem:nth-child(2){
	left: 2px;
	 top: 2px;
}
.menuItem:last-child{
	width: 42px;
	height: 42px;
	left: -2px;
	top: -2px;
}

i.icons {
  position: relative;
  font-size: 24px;
  color: #222222;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.fi-home{background: url(../../imgs/nav-icon/icon-nav-menu.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-01{background: url(../../imgs/nav-icon/icon-nav-01.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-02{background: url(../../imgs/nav-icon/icon-nav-02.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-03{background: url(../../imgs/nav-icon/icon-nav-03.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-04{background: url(../../imgs/nav-icon/icon-nav-04.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-05{background: url(../../imgs/nav-icon/icon-nav-05.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-06{background: url(../../imgs/nav-icon/icon-nav-06.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-07{background: url(../../imgs/nav-icon/icon-nav-07.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-08{background: url(../../imgs/nav-icon/icon-nav-08.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-09{background: url(../../imgs/nav-icon/icon-nav-09.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-10{background: url(../../imgs/nav-icon/icon-nav-10.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}
.fi-11{background: url(../../imgs/nav-icon/icon-nav-10.png) no-repeat center / 40px 40px; width: 40px; height: 40px; background-size: 40px 40px;}

#myMenu{}

.nav-txt{ position: relative;}
.nav-txt span{ display: block; width: 200px; position: absolute; top:-5px; left: -80px; text-align: center; color: #FFFFFF; display: none; font-size: 12px;}
