<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nulijiushimeili.librarianwebui.mapper.ConnectionInfoMapper">


<!--    // 添加数据源信息-->
    <insert id="addConnectionInfo" parameterType="com.nulijiushimeili.librariancommon.beans.ConnectionInfo">
        insert into aaa values('a')

    </insert>


    <!--// 添加数据源节点信息-->
    <insert id="addConnectionHostInfo" parameterType="com.nulijiushimeili.librariancommon.beans.HostInfo">
        insert into aaa values('a')

    </insert>

</mapper>
